@charset "utf8";

body{
    background-color: #f6f5f5;
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;   
}
a{
    text-decoration: none;
} 

section{
    width: 100%;
    height:95vh;
    background-image:url('../pictures/**.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 12px rgba(0, 0, 0,0.2 ); 
    padding: 0px 5%;
}
nav ul{
    display: flex;
}
nav ul li a{
    margin: 30px;
    font-family: myriad pro regular;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}
.logo{
    font-family: RoadTest;
    color: #000000;
    font-size: 22px;
}
.active{
    font-weight: bold;
    color: #2d2a2a;
}
.text-container p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
}
.text-container p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 22px;
}
.text-container p:nth-child(3){
    font-family: myriad pro regular;;
    color: #403e3e;
    font-size: 30px;
}
.text-container p{
    line-height: 0px;
    margin: 45px 0px 25px;
}
.text-container{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%,-42%);
}
.text-container button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin:0px 10px;
}
.hire-btn{
    border: 2px solid #373636;
    color: #373636;
}
.d-cv{
    background-color: #0b0b0b;
    color: #FFFFFF;
    border: none;
}
button:active{
    transform:scale(1.1);
}
.haha{
   height: 300px;
   border-radius: 25%;
   position: absolute;
   background-color: #373636;
   display: flex;
   align-items: center;
   justify-content: center;
   bottom:35% ;
   left:70%;
   transform: translatex(-70%);
   box-shadow: 12px 12px 12px 12px rgba(248, 206, 206, 0.2);
}
.mypik{
    width: 70%;
    height: 80%;
    text-align: center;
    border-radius: 25%;
    background-color: #e6e3e3;
}
.mypik img{
    width: 100%;
    height: auto;
    border-radius: 25%;
}
.abt-container{
    width: 80%;
    height: 330px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 12px rgba(0, 0, 0,0.2 );
    display: flex ;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.abt-container img{
    height: 250px;
}
.abt-txt{
    width: 550px;
}
.abt-txt p:nth-child(1){
   color: #403e3e;
   font-family: myriad pro;
   font-size: 23px;
   line-height: 0;
   font-weight: bold; 
}
.abt-txt p:nth-child(2){
    color: #3e3e3d;
   font-family: myriad pro;
   font-size: 13px;
   line-height: 5px;
   font-weight: bold;  
}
.abt-txt p:nth-child(3),.abt-txt p:nth-child(4){
    color: #7e7d7d;
    font-size: 1rem;
    font-family: calibri;
}
.abt-txt button{
    width: 120px;
    height: 40px;
    color: #FFFFFF;
    font-family: calibri;
    border: none;
    outline: none;
    background-color:#262525;
}
.services{
    height: 600px;
    background-color: #FFFFFF;
    padding: 2% 10% 0 10%;
} 
.service-text p:nth-child(1){
     color: #3e3e3d;
     font-size: 2rem;
     line-height: 0;
     font-family: calibri;
     font-weight: bold;
}
.service-text p:nth-child(2){
    color: #3e3e3d;
    font-size: 15px;
    line-height: 5px;
    font-family: calibri;
    font-weight: bold;
}
.service-text p:nth-child(1){
    color: #7e7d7d;
    font-family: calibri;
}
.services-text{
    width: 500px;
    margin: 50px 0;
}
.box1,.box2,.box3{
    background-color: rgba(0, 0, 0,0.8);
    height: 320px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 2px 2px 12px #1a1a1a; 
}
.container-box{
    display: flex;
    justify-content: space-between;

}
span{
    height: 40px;
    width: 40px ;
    border-radius: 50%;
    font-weight: bold;
    font-family: calibri;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box1 p:nth-child(2),
.box2 p:nth-child(2),
.box3 p:nth-child(2){
    color: #FFFFFF;
    font-size: 22px;
    line-height: 0;
    font-family: inherit; 
}
.box1 p:nth-child(3),
.box2 p:nth-child(3),
.box3 p:nth-child(3){
    text-align: center;
    font-family: inherit;
    margin: 0 0 20px 0;
    color: #8f8f8f;
}
.box1 button,
.box2  button,
.box3  button{
    width: 100px;
    height: 1.6rem;
    background-color: #FFFFFF;
    outline: none;
    border: none;
    border-radius: 5px;
}
.contact{
    width: 100%;
    height: 280px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact p{
    font-size: 30px;
    color: #e1e1e1e1;
    font-family: calibri;
    font-weight: bold;
    border-bottom: 2px solid #FFFFFF;
}
.contact button{
    font-size: 14px;
    background-color: #FFFFFF;
    height: 40px;
    width: 200px;
    outline: none;
    border: none;
    font-weight: bold;
    color: rgb(14, 14, 20);
}
footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
footer p{
    font-weight: bold;
}
footer p:nth-child(1){
    font-size: 1.5rem;
    color: #100000;
    line-height: 10px;
    font-family: calibri;
}
footer p:nth-child(2){
    font-size: 1rem;
    color: #191919;
    width: 600px;
}
.social{
    display: flex;
}
.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#e6e3e3 ;
    width: 40px;
    height: 40px; 
    margin: 20px 10px;
    border-radius: 50%;
}
#a-1{
    font-size: 13px;
    color: #565555;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
} 
.social i{
    color: #000000;
}
.social a:hover,
.bar-social a:hover{
    background-color: inherit;
    box-shadow: 2px 2px 12px rgba(0, 0, 0,0.2 );
    transition: all ease 0.2s;
}
.social a:hover i,
.bar-social a:hover i{
    transition: all ease 0.2s;
    color: #FFFFFF;
}
.bar-social{
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.bar-social a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba(0, 0, 0,0.2 );
}
.bar-social i{
    color: #2b2b2b;
    font-size: 20px;
}
@media scre